body {
  margin-left: 20px;
}
.chat {
  background-color: aliceblue;
  box-shadow: 2px 5px 10px #888888;
  padding: 20px;
  border-radius: 16px;
  /* display: inline-block; */
}
.msg {
  background-color: dodgerblue;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
